{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='auth.css') }}" rel="stylesheet"/>
{% endblock %}


{% block title %}
  Login !
{% endblock %}

{% block body %}
<div class="web-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="web-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title"> <img src="{{ url_for('static', filename='resources/images/android-icon-36x36.png') }}">     Classroom</span>
      <div class="mdl-layout-spacer"></div>

    </div>
  </header>
  <div class="web-ribbon"></div>
  <main class="web-main mdl-layout__content">
    <div class="web-container mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="web-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col">

        <img src = "{{ url_for('static', filename='resources/images/android-icon-96x96.png') }}" >
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category is equalto 'success' %}
                    <span style="color:#009688"> {{message}} </span>
                    {% else %}
                    <span style="color:red"> {{message}} </span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <form method="POST" action="{{url_for("auth.login")}}">
         <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="username" placeholder="Username" required>
         </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" name="password" placeholder="Password" required>
         </div><br><br><br>
            <input type="submit" class="rc-button rc-button-submit" value="Login">
        </form><br>
          <div>
            <a class = "web-link web-link:hover" href = "{{url_for("auth.signup")}}">
            New Student ? Sign Up !
        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}
