{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='assignment.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
<!-- <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script> -->
{% endblock %}

{% block title %} Classroom {% endblock %}

{% block body %}

{% include "class_nav_drawer.html" %}

<main >
    <div style="padding: 7%">
        <h5>{{ msg }}</h5>
    </div>
</main>
{% endblock %}
