{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='auth.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
  Signup !
{% endblock %}

{% block body %}
<div class="web-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="web-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title"> <img src="{{ url_for('static', filename='resources/images/android-icon-36x36.png') }}">     Classroom</span>
      <div class="mdl-layout-spacer"></div>

    </div>
  </header>
  <div class="web-ribbon"></div>
  <main class="web-main mdl-layout__content">
    <div class="web-container mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="web-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col">

        <img src = "{{ url_for('static', filename='resources/images/android-icon-96x96.png') }}" >
        <br>
        {% with message = get_flashed_messages() %}
            {% if message %}
              <span style="color:red"> {{message[0]}} </span>
            {% endif %}
        {% endwith %}
        <br>
        <form method="POST" action="{{url_for("auth.signup")}}">
          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" name="name" placeholder="Name" required value = {{request.form["name"]}}>
          </div><br>
          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" name="usn" placeholder="USN" required value = {{request.form["usn"]}}  >
          </div><br>

          <div class="mdl-textfield mdl-js-textfield">
            <select id="my-select" class="mdl-textfield__input"  name="branch" required }>
              <option value="" disabled selected hidden>Branch</option>
              <option value="AT">Architecture</option>
              <option value="BT">Biotechnology</option>
              <option value="CH">Chemical</option>
              <option value="CV">Civil</option>
              <option value="CS">Computer Science</option>
              <option value="EC">Electronics and Communication</option>
              <option value="EI">Electronics and Instrumentation</option>
			  <option value="EE">Electrical and Electronics</option>
              <option value="IE">Industrial Engineering</option>
              <option value="IS">Information Science</option>
              <option value="ME">Mechanical</option>
              <option value="ML">Medical Electronics</option>
              <option value="TC">Telecommunication</option>
             </select>
        </div><br>

          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="email" name="email" placeholder="Email" required value = {{request.form["email"]}}>
          </div><br>
          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" name="username" placeholder="Username" required value = {{request.form["username"]}}>
          </div><br>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" name="password" placeholder="Password" required>
          </div><br>
          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" name="c_password" placeholder="Confirm Password" required>
          </div><br><br><br>
            <input type="submit" class="rc-button rc-button-submit" value="Sign Up">
        </form>
      </div>
    </div>

  </main>
</div>
{% endblock %}
