
#welcome_card {
    width: 512px;
    height: 300px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 250px;
  background: url('/static/resources/images/board.jpg');
  background-size: 100%;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#class_body {
		background: #fafafa;
		position: relative;
		padding-left: 16px;
		width: 100%;
		height: 100%;

}

.class_grid {
		margin-top: 100px;
}


.demo-card-square.mdl-card {
		width: 250px;
		height: 300px;
		float: left;
		margin: 1rem;
		position: relative;
}

.demo-card-square.mdl-card:hover {
		box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square>.mdl-card__title {
		color: #fff;
		/*background: #03a9f4;*/
        background: linear-gradient(to bottom right,#00695C, #009688,#80CBC4);
}

.demo-card-square>.mdl-card__accent {
		background: #ff9800;
}

#add_class_fab {
	position: fixed;
	left: 93%;
	top: 88%;
    background-color: #FFC107;
    color: #FFFFFF
}

#join_class_fab {
	position: fixed;
	left: 93%;
	top: 88%;
    background-color: #FFC107;
    color: #FFFFFF
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /*position: absolute;
    bottom:-480px;
    right:-90px;*/
    position: fixed;
    left: 82.5%;
    top: 78.5%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*#create_class_dialog {
	width: 400px;
	height: 600px;
	text-align: center;
}*/
