#class_body {
		background: #fafafa;
		position: relative;
		padding-left: 16px;
		width: 100%;
		height: 100%;

}

.class_grid {
		margin-top: 100px;
}

.search_bar {
		background-color: #4CAF50;
		/*green*/
}
/* TODO: Hover and Focus state.
*       Fix position of mobile search button.
*/

.mdh-expandable-search {
		margin: 0px 50px;
		align-items: center;
		justify-content: center;
}

.mdh-expandable-search form {
		max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
		/* Cross browser flex-grow */
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
		/* Cross browser inline-flex */
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
}
/* Position search icon */

.mdh-expandable-search .material-icons {
		position: relative;
		right: 50px;
		margin-left: -2px;
		/* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
		outline: none;
		border: none;
		font-size: 16px;
		color: #FFFFFF;
		background-color: #66BB6A;
		padding: 0px 300px 0px 100px;
		height: 40px;
		margin-top: 10px;
		margin-left: -100px;
		line-height: 40px;
		/* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder {
		/* WebKit browsers */
		color: #FFFFFF;
}

.mdh-expandable-search input:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #FFFFFF;
		opacity: 1;
		/* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #FFFFFF;
		opacity: 1;
		/* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: #FFFFFF;
}
/* Bug fix: https://github.com/google/material-design-lite/issues/1078
* To much padding on the left of header when the menu button is hidden */

@media screen and (min-width: 851px) {
		.mdl-layout__header-row {
				padding: 0 40px 0 40px;
		}
}
/* Bug fix for badges being in the wrong location */

.mdl-badge[data-badge]:after {
		right: -7px;
		top: -8px;
}

.demo-card-square.mdl-card {
		width: 250px;
		height: 300px;
		float: left;
		margin: 1rem;
		position: relative;
}

.demo-card-square.mdl-card:hover {
		box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square>.mdl-card__title {
		color: #fff;
		background: #03a9f4;
}

.demo-card-square>.mdl-card__accent {
		background: #ff9800;
}

#container {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /*text-align: center;
    vertical-align: middle;*/
    margin-top: 100px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ff0000;
    background-color: #0000ff;
    transform: translate(-50%, -50%);
}

#add_class_fab {
	position: fixed;
	left: 1190px;
	top: 570px;
}

#create_class_dialog {
	width: 330px;
	height: 385px;
	text-align: center;
}
