/*element.style {
}
.blankslate.spacious {
    padding: 100px 60px 120px;
}
.blankslate.clean-background {
    background: none;
    border: 0;
    box-shadow: none;
}
.blankslate {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body.site.organizations.index
body.site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
body {
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f3f4f6;
}
#class_body {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
}
Inherited from html.turbolinks-progress-bar
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

element.style {
}
.btn-big {
    max-width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
}
.btn-green {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5fb27b;
    background-image: -webkit-linear-gradient(#69c387, #519568);
    background-image: linear-gradient(#69c387, #519568);
    border-color: #55926a;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
a {
    color: #4078c0;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
Inherited from div.blankslate.large-format.spacious.clean-background*/
#welcome_card {
    width: 512px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#join_class_fab {
	position: fixed;
	left: 1190px;
	top: 570px;
    background-color: #FFC107;

}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 250px;
  background: url('/static/resources/images/board.jpg');
  background-size: 100%;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
