<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "header.html" %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Classroom</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{url_for('assignment.assign', class_code=class_code)}}">Assignments</a>
            <a class="mdl-navigation__link" href="">Notes</a>
            <a class="mdl-navigation__link" href="">Submissions</a>
        </nav>
    </div>
</div>
