{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='assignment.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
{% endblock %}

{% block title %} Create Assignment {% endblock %}

{% block body %}
{% include "assign_nav_drawer.html" %}
<br><br><br>

<main id="form_main" class="web-main mdl-layout__content">
    <!-- <div id="form" class="web-container mdl-grid"> -->
    <br><br><br>
    <div class="mdl-grid portfolio-max-width">


        <!-- <div class="mdl-grid portfolio-max-width"> -->
    <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <!-- <div class="web-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col portfolio-max-width"> -->
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
           <!-- <div id="assign_back" class="mdl-card__media">
               <img class="article-image" border="0" alt="">
           </div> -->

          <div id="form_create_assign">

               <h3>Create Assignment</h3>
               <form method="POST" action="{{url_for("assignment.createassign")}}">
                 <div class="mdl-textfield mdl-js-textfield">
                     <input class="mdl-textfield__input" type="text" name="title" placeholder="Title" required>
                 </div>
                 <div class="mdl-textfield mdl-js-textfield">
                     <input class="mdl-textfield__input" type="number" name="max_score" placeholder="Max Score" required>
                 </div>
                 <div class="mdl-textfield mdl-js-textfield">
                     <input class="mdl-textfield__input" type="date" name="last_date" placeholder="Last Date" required>
                 </div>
                 <div class="mdl-textfield mdl-js-textfield">
                     <textarea class="mdl-textfield__input" type="text" rows= "4" name="description" placeholder="Description" required></textarea>
                 </div>

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" disabled name="" placeholder="Supported File Formats" >
                </div>
                <div>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <!-- <input type="hidden" name="doc_file" value=0 > -->
                        <input type="checkbox" id="checkbox-1" name="doc_file" value=1 class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">.doc</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                        <!-- <input type="hidden" name="pdf_file" value=0 > -->
                        <input type="checkbox" id="checkbox-2" name="pdf_file" value=1 class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">.pdf</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                        <!-- <input type="hidden" name="ppt_file" value=0 > -->
                        <input type="checkbox" id="checkbox-3" name="ppt_file" value=1 class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">.ppt</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                        <!-- <input type="hidden" name="zip_file" value=0 > -->
                        <input type="checkbox" id="checkbox-4" name="zip_file" value=1 class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">.zip</span>
                    </label>
                </div>
                <br><br>
                    <input type="submit" class="rc-button rc-button-submit" value="Submit">
                </form><br>
            </div>
        </div>
   </div>
</main>

{% endblock %}
