{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='assignment.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
{% endblock %}

{% block title %} Assignment {% endblock %}

{% block body %}
{% include "assign_nav_drawer.html" %}

<main id="main-content" class="mdl-layout__content">
{% if assignments %}
    {% include "all_assignments.html" %}

{% else %}
    {% include "no_assignments.html" %}

{% endif %}

{% if role is equalto 0 %}
  {% with class_code=class_code %}
     {% include "add_assign_fab.html" %}
  {% endwith %}
{% endif %}

</main>
{% endblock %}
