{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='submission.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
{% endblock %}
{% block title %} Students {% endblock %}

{% block body %}
{% include "./assignments/assign_nav_drawer.html" %}
<div id="assignment_title"><h3>{{classroom.class_name}} - Students</h3> </div>
  <main id="page_body">
      <table id="submission_table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
              <tr>
                  <th>S No.</th>
                  <th>Name</th>
                  <th>UID</th>
                  <th>Email</th>
                  <th>Remove Student</th>
              </tr>
          </thead>
          <tbody>
              {% for student in students%}
              <form action="{{url_for('classroom.students', user_id=student[0], class_code=classroom.class_code)}}" method="post">
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{student[1]}}</td>
                  <td>{{student[2]}}</td>
                  <td>{{student[3]}}</td>
                  <td>
                      <button  type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">close</i>
                      </button>
                  </td>
                </tr>
              </form>
              {% endfor %}
        </tbody>
  </main>
{% endblock %}
