{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='assignment.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
{% endblock %}

{% block title %} View Assignment {% endblock %}

{% block body %}
{% include "assign_nav_drawer.html" %}
<br><br><br><br>

<main class="web-main mdl-layout__content">
  <div class="web-container mdl-grid">
  <!-- <div class="mdl-grid portfolio-max-width"> -->
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-card mdl-shadow--4dp  mdl-cell mdl-cell--8-col">
           <!-- <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">Java Assignment</h2>
           </div> -->
           <div id="assign_back" class="mdl-card__media">
               <img class="article-image" border="0" alt="">
           </div>

          <div id="view_assign">
             <h2>{{assignment.title}} </h2>

             <p id="link"> File Submitted:
                 {% if submission %}
                 <a style="color:#009688"
                    href="{{url_for('submission.uploaded_file', assign_id=assignment.assignment_id, filename=submission.filename)}}">
                    {{submission.filename}}</a>
                 {% else %}
                  None
                 {% endif %}
             </p>


               <h4>Description</h4>
               <div  class="assign_text">
                   <p> {{assignment.description}}</p>
               </div>
               <h4>Details</h4>
               <div class="assign_text">
                   <p> Last Date: {{assignment.last_date}}</p>
                   <p> Maximum Score: {{assignment.max_score}}</p>
                   <p> File Formats:
                       {% if assignment.pdf_file is equalto 1 %} .pdf {% endif %}
                       {% if assignment.doc_file is equalto 1 %} .doc {% endif %}
                       {% if assignment.ppt_file is equalto 1 %} .ppt {% endif %}
                       {% if assignment.zip_file is equalto 1 %} .zip {% endif %}
               </div>
           </div>
       </div>
   </div>

  <!-- Accent-colored raised button with ripple -->
  {% if role is equalto 1 %}
        {% include "./submissions/upload_file_dialog.html" %}
  {% endif %}
</main>
<script src="{{ url_for('static', filename='submission.js') }}" type= "text/javascript" ></script>
{% endblock %}
