{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='classroom.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
{% endblock %}

{% block title %} Classroom {% endblock %}

{% block body %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "header.html" %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Classes</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
</div>

<main class="mdl-layout__content">
    <div class="page-content">
        <!-- Your content goes here -->

        <div id="class_body" class="class_grid">
            <!-- Square card -->
            {% for class in classes %}
              {% include "card.html" %}
              <!-- {% for class in x %} -->
              <!-- {% endfor %} -->
            {% endfor %}
        </div>
    </div>
    <div>
        <form method="GET" action="{{url_for("classroom.createclass")}}">
            <button id="add_class_fab" type=submit class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-fab-bottom-right">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
    {% if role is equalto 0 %}
    <div>
        <form method="GET" action="{{url_for("classroom.createclass")}}">
            <button id="add_class_fab" type=submit class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-fab-bottom-right">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
    {% elif role is equalto 1 %}
    <div>
        <button id="join_class_fab" type=button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-fab-bottom-right">
            <i class="material-icons">add</i>
        </button>
    </div>
    {% endif %}

    <dialog id = "join_class_dialog" class="mdl-dialog">
      <!-- <p class="mdl-dialog__title">Create a Class</p> -->
        <h5>Join a Class</h5><br>
        <form method="POST" action="{{url_for("classroom.index")}}">
          <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="number" min="10000" max="99999" name="class_code" placeholder="Class Code" required>
          </div>
            <!-- <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "4"  placeholder="Description" required></textarea>
          </div>
          <p>Class Code: {{code}}</p> -->
          <br>
          <div class="mdl-dialog__actions">
                <input type="submit" value="Join" class="mdl-button create"></button>
            <button type="button" class="mdl-button cancel">Cancel</button>
          </div>
        </form>
    </dialog>


</main>

<script src="{{ url_for('static', filename='classroom.js') }}" type= "text/javascript" ></script>
{% endblock %}
