{% extends "layout.html" %}

 {% block head %}
<link href="{{ url_for('static', filename='no_classroom.css') }}" rel="stylesheet" />
 {% endblock %}

 {% block title %} Classroom {% endblock %}
 {% include "header.html" %}

  {% block body %}
    <!-- <div id = "class_body" class="blankslate large-format spacious clean-background">
        <h3>You haven't joined any classroom yet.</h3>
        <a class="btn btn-green btn-big" role="button" href="/classrooms/new">Join a Classroom</a>
    </div> -->
    <div id="welcome_card" class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
        You do not have any classrooms yet. Click on the button below to join a classroom.
        </div>
        <!-- <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
        </div> -->
        <!-- <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button>
        </div> -->
    </div>

    <div>
        <button id="join_class_fab" type=button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored md-fab-bottom-right">
            <i class="material-icons">add</i>
        </button>
    </div>
{% endblock %}
