{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='classroom.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
<!-- <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script> -->
{% endblock %}

{% block title %} Classroom {% endblock %}

{% block body %}

{% include "class_student_nav_drawer.html" %}

<main id="main-content" class="mdl-layout__content">

<!-- TODO : check -->
<!-- Check the role and whether the user has joined/created any classes -->
  {% if classes %}
    {# with classes=joined_classes#}
       {% include "classes.html" %}
    {# endwith #}
  {% else %}
      {% include "no_classes.html" %}
  {% endif %}
  {% include "join_class_fab.html" %}

{% include "join_class_dialog.html" %}
</main>
<script src="{{ url_for('static', filename='classroom.js') }}" type= "text/javascript" ></script>
{% endblock %}
