{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='classroom.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.teal-amber.min.css">
<!-- <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script> -->
{% endblock %}

{% block title %} Classroom {% endblock %}

{% block body %}
<!-- Check the role and add the nav_drawer accordingly -->
<!-- TEACHERS = 0, STUDENTS = 1  -->
{% include "class_teacher_nav_drawer.html" %}

<main id="main-content" class="mdl-layout__content">

<!-- TODO : check -->
<!-- Check the role and whether the user has joined/created any classes -->
{% if classes %}
  {% include "classes.html" %}
{% else %}
      {% include "no_classes.html" %}
{% endif%}

{% include "add_class_fab.html" %}
{% include "join_class_dialog.html" %}
</main>
<script src="{{ url_for('static', filename='classroom.js') }}" type= "text/javascript" ></script>
{% endblock %}
