<table id="submission_table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tbody>
        <tr>
          <td data-label="S No." class="mdl-data-table__cell--non-numeric">111</td>
         <td data-label="USN">1MS14IS004</td>
         <td data-label="Name">AMISHA AGRWAL</td>
         <td data-label="File"><a href="">{{submission.filename}}</a></td>
         <td data-label="Time">12/04/2017</td>
         <td data-label="Grade">{{submission.grade}}</td>
        </tr>
    </tbody>
</table>
