<head>
  <link href="{{ url_for('static', filename='header.css') }}" rel="stylesheet" />
</head>

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row search_bar">
        <!-- Title -->
        <span class="mdl-layout-title">CLASSES</span>
        <!-- Add spacer, to align navigation to the right -->
        <!--<div class="mdl-layout-spacer"></div>-->

        <!-- Displayed on Computer and Tablet -->
        <!-- Search -->
        <div class="mdh-expandable-search mdl-cell--hide-phone">
            <i class="material-icons">search</i>
            <form action="#">
                <input type="text" placeholder="Search" size="1">
            </form>
        </div>

        <!-- Displayed on mobile -->
        <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div>
        <!-- Search button -->
        <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
        <i class="material-icons">search</i>
      </button>

    </div>
</header>
